<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Wisepay - Login</title>

<link rel="stylesheet" type= "text/css" href="../../public/styles/main.css">
<link rel="stylesheet" type= "text/css" href="../../public/styles/loginStyles.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

		
</head>
<body>
<div class="content">
	<div class="cards">

		<div class="retangulo-esquerdo">
			<img src="../../public/assets/Grupo 2257.svg" alt="logo-wisepay">
			<p>A melhor solução para o seu <span>negócio</span> </p>
		</div> <!-- fim retangulo-esquerdo  -->
		
	
		<div class="retangulo_login">
			<h1>Bem vindo(a)</h1>
	
			<p class="sub-title">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut</p>
	
			<form action="telaTransacao.html" class="formulario-login">
				<div class="login-input">
					<span class="span_email">Email</span>
					<input type="email" name="email" class="input_email">
				</div>
				<div class="password-input">
					<span>Senha</span>
					<input type="password" name="senha" class="input_passaword">
				</div>
				<button>Login</button>
			</form>
			<p>Ainda não tem uma conta? <a href="#">Crie agora.</a> </p>
		</div>
	</div> <!-- fim da div cards -->	
</div>
</body>
</html>

